.burger,
.close {
  width: 50px;
  height: 50px;
  margin-top: 64%;
}
body {
  background-color: blue;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.burger img {
  width: 30px;
}
.close img {
  width: 30px;
}
.circle {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: red;
  translate: -100px -110px;
  transition: 0.6s ease;
  z-index: 2;
}
.rotate {
  rotate: -100deg;
}
.main {
  margin: 0 auto;
  padding: 70px;
  text-align: center;
  /* top: -100px; */
  padding-left: 50px;
  padding-right: 50px;
  transform-origin: top left;
  transition: 1s ease;
  background-color: white;
  min-height: 100vh;
  width: 100vw;
}
h1 {
  text-align: left;
}

.rotateTxt {
  transform: rotate(-20deg);
}
.li {
  transition: translate 1s ease;
}
nav {
  color: beige;
  position: fixed;
  translate: -80px -300px;
  transition: 1s ease;
}
.navTranslate {
  translate: 40px -300px;
}
